main {
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul li.active a {
  background-size: 100% 5px;
  color: var(--secondary-color);
}

h2 {
  font-family: Luckiest Guy;
  letter-spacing: 1.5px;
  font-size: 2rem;
  color: var(--primary-color);
  text-shadow: -0.5px 2px 0.5px var(--text-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--text-color);
}

.banner {
  background: url('../img/about_fg.png') no-repeat top right;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 50px;
}

.description {
  padding: 0 5vw 0 5vw;
}

.description p {
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.section_header {
  margin-bottom: 50px;
}

@media (min-width: 550px) {
  .banner {
    height: 400px;
    background-position: top right;
  }
}

@media (min-width: 1110px) {
  .banner {
    height: 500px;
    background-position: top right;
  }
}

@media (min-width: 1390px) {
  .banner {
    height: 600px;
    background-position: top right;
  }
}
@media (min-width: 1875px) {
  .banner {
    height: 800px;
    background-position: top right;
  }
}
