@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  --primary-color: #0099d9;
  --secondary-color: #fac635;
  --text-color: #000103;
  --decoration-color: #b9010d;
  --nav-color: #f3f3f3;
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.background_img_description img{
   width: 100%;   
}

.title_description {
  margin-bottom: 50px;
  font-family: Luckiest Guy;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-shadow: -0.5px 2px 0.5px var(--text-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--text-color);  
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3); 
  padding: 15px; 

}

.background_description { 
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.description_persona {
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: justify;
  padding: 0 5vw 0 5vw;
}

.curiosidades h3 {
  font-family: Luckiest Guy;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
  color: var(--primary-color);
  text-shadow: -0.5px 2px 0.5px var(--text-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--text-color);
  padding: 5px;
  margin: 3vh;
  padding-left: 9vh; 
}

.curiosidades p{
  line-height: 2.5rem;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 5vw 0 5vw;
}

.descriptionlink {
    text-decoration: none;
    color: var(--primary-color);
}
